#searchbox{
	height: 300px;
	background: none;
	position: absolute;
	top: 100px;

}

.search-content{
	width: 100%;
	height: 100%;
	position: relative;
}

.opac-background {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2000;
}

.search-form {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 3000;
	color: white;
	background: none;
}

.search-title {
	margin-bottom: 20px;
	height: 50px;
	position: relative;
	border-bottom: 2px solid red;
}

.search-title p{
	position: absolute;
	left: 20px;
	top: 10px;
	font-size: 28px;
}

